<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>panel.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>controlador.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductos</servlet-name>
        <servlet-class>ServletProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargaLista</servlet-name>
        <servlet-class>controlador.ServletCargaLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCasillas</servlet-name>
        <servlet-class>ServletCasillas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCajas</servlet-name>
        <servlet-class>ServletCajas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Productos</servlet-name>
        <servlet-class>Servlet_Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Transacciones</servlet-name>
        <servlet-class>Servlet_Transacciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/ServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductos</servlet-name>
        <url-pattern>/ServletProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargaLista</servlet-name>
        <url-pattern>/ServletCargaLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCasillas</servlet-name>
        <url-pattern>/ServletCasillas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCajas</servlet-name>
        <url-pattern>/ServletCajas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Productos</servlet-name>
        <url-pattern>/Servlet_Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Transacciones</servlet-name>
        <url-pattern>/Servlet_Transacciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
